@import url("https://fonts.googleapis.com/css?family=Antic+Didone&Open+Sans+Condensed&display=swap");

/*
color notes: 

light green: #808C56
gold: #FFBF75

*/

html {
  font-family: "Open Sans Condensed";
}

body {
  background-color: #282828;
  color:#9af7cb;
}

a {
  color: #9af7cb;
}

#site-wrapper {
  background-color: #343844;
  background-image: url('../img/barton-springs-fade-300w.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  min-width: 300px;
  max-width: 400px;
  margin: 0 auto;
  font-size: 1.5rem;
}

button {
  border: solid 0.5px  #F2C025;
  position: fixed;
  right: 0;
  padding: 1rem;
  background-color: rgba(44, 42, 28, 0.5);
  color: #F2C025;
  display: none; 
}

h1 {
  font-family: "Antic Didone";
  color: #F2C025;
  font-size: 2rem;
}

h2 {
  color: #F2C025;
  font-size: 2rem;
  font-weight: 400;
}
 
article {
 padding-left: 2rem;
 padding-right: 2rem;
}

#hi {
  text-align: center;
  padding-top: 200px;
  
}

#hi header {
  display: inline-block;
  background-color: rgba(20,19,13,.3);

}

#hi p {
  text-align: left;
}

.betsy-photo {
  padding-top: 2rem;
  max-height: 300px;
  text-align: center;
}

#hi header .wrapper {
  margin: 1rem;
  color: #62dca2;
  text-align: center;
}

#hi header .wrapper p {
  font-size: 1.5rem;
  /* margin: 0 auto; */
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: center;
}

.backdrop {
  background-color: rgba(20,19,13,.3);
}

.front-page {
  padding: 2rem;
}


.price-header {
  margin-bottom: 5px;
}
.price {
  margin-top: 5px;
}

.casa-de-luz, .appt {
  font-weight: 600;
}


footer {
  border-top: solid black 0.2px;
  padding-top: 50px;
  font-size: 1rem;
  text-align: center;
  margin-top: 50px;
}

.footer-note {
  padding-bottom: 50px;
  color:#cbe083;
}

.footer-logo {
  padding-top: 30px;
  max-height: 50px;
}

footer nav {
 display: flex;
 flex-direction: column;
}

footer nav a {
  color:#F2C025;
  margin-bottom: 5px;
}

@media (min-width: 601px) {
  #site-wrapper {
    background-image: url('../img/barton-springs-fade.jpg');
    /* color: whitesmoke; */
    /* padding: 200px; */
    /* padding-top: 500px;
    margin: 0 auto; */
  }
}

@media (min-width: 1201px) {
  #site-wrapper {
  }
}